:root {
  /* fonts */
  --font-header: 16px;
  --font-regular: 13px;
  --font-informative: 11px;
  --main-text-color: #344054;
  --second-text-color: #667085;
  --third-text-color: #475467;
  --preview-header-color: #484848;
  --primary: #7f56d9;
  --light-purple: #f3e5f5;
  --light-gray: #eaecf0;
  --light-border-color: #d0d5dd;
  --border-error-solid: #d92d20;
  --background-color: #fcfcfd;
  --dark-purple: #6941c6;
  --light-purple-background: #f9f5ff;
  --grey-border: #ebebeb;
  --shadow-one: #10182808;
  --shadow-two: #10182814;
  --header-background: #f8f9f8;
  --menu-icon-color: #9486cb;
}
