.container {
  display: flex;
  flex-direction: column;
  min-width: 1024px;
  width: 100vw;
  height: 100vh;
  flex-grow: 1;
  overflow-x: hidden;
  background-color: var(--background-color);
}

.content-container {
  display: flex;
  flex-grow: 1;
}
/* Mobile styles */
@media screen and (max-width: 768px) {
  .container {
    min-width: auto;
  }
  
  .content-container {
    flex-direction: column;
    margin-top: 4rem;
  }
}